module "postgrest-7.0.1-inplace/PostgREST.ApiRequest" {
  inside "userApiRequest" {
    tick "otherwise" on line 291;
    tick "Nothing" on line 291;
    tick "otherwise" on line 270;
    tick "Nothing" on line 270;
    tick "witness" on line 140;
    tick "witness" on line 141;
  }
  tick "tProc" on line 68;
  tick "tdsSchema" on line 69;
  tick "isHead" on line 61;
}
module "postgrest-7.0.1-inplace/PostgREST.App" {
  inside "app" {
    tick "False" on line 356;
    tick "mempty" on line 341;
    tick "mempty" on line 134;
    tick "mempty" on line 140;
    tick "mempty" on line 142;
    tick "mempty" on line 166;
    tick "mempty" on line 197;
    tick "mempty" on line 200;
    tick "mempty" on line 231;
    tick "mempty" on line 233;
    tick "mempty" on line 259;
    tick "mempty" on line 260;
    tick "mempty" on line 302;
  }
}
module "postgrest-7.0.1-inplace/PostgREST.Config" {
  inside "prettyVersion" {
    tick "mempty" on line 128;
  }
}
module "postgrest-7.0.1-inplace/PostgREST.DbRequestBuilder" {
  inside "returningCols" {
    tick "Nothing" on line 344;
  }
  inside "mutateRequest" {
    tick "Left UnsupportedVerb" on line 311;
  }
}
module "postgrest-7.0.1-inplace/PostgREST.DbStructure" {
  inside "getPgVersion" {
    tick "mempty" on line 864;
  }
  inside "getDbStructure" {
    tick "mempty" on line 50;
    tick "mempty" on line 53;
    tick "mempty" on line 54;
  }
}
module "postgrest-7.0.1-inplace/PostgREST.Error" {
  inside "compressedRel" {
    tick "mempty" on line 116;
  }
}
module "postgrest-7.0.1-inplace/PostgREST.Middleware" {
  inside "runPgLocals" {
    tick "mempty" on line 51;
  }
}
module "postgrest-7.0.1-inplace/PostgREST.OpenAPI" {
  inside "pickProxy" {
    tick "Nothing" on line 315;
  }
}
module "postgrest-7.0.1-inplace/PostgREST.Parsers" {
  inside "pRelationSelect" {
    tick "Nothing" on line 142;
  }
}
module "postgrest-7.0.1-inplace/PostgREST.Private.QueryFragment" {
  inside "responseHeadersF" {
    tick "\"null\"" on line 237;
  }
  inside "responseStatusF" {
    tick "\"null\"" on line 243;
  }
}
module "postgrest-7.0.1-inplace/PostgREST.QueryBuilder" {
  inside "getJoinsSelects" {
    tick "([], [])" on line 67;
  }
}
module "postgrest-7.0.1-inplace/PostgREST.Types" {
  inside "pgVersion130" {
    tick "\"13.0\"" on line 548;
  }
  inside "pgVersion121" {
    tick "\"12.1\"" on line 545;
  }
  inside "pgVersion114" {
    tick "\"11.4\"" on line 542;
  }
  inside "pgVersion112" {
    tick "\"11.2\"" on line 539;
  }
  inside "pgVersion110" {
    tick "\"11.0\"" on line 536;
  }
  inside "pgVersion109" {
    tick "\"10.9\"" on line 533;
  }
  inside "pgVersion100" {
    tick "\"10\"" on line 530;
  }
  inside "pgVersion96" {
    tick "\"9.6\"" on line 527;
  }
  inside "pgVersion95" {
    tick "\"9.5\"" on line 524;
  }
  tick function "minimumPgVersion" on line 521;
  inside "procTableName" {
    tick "Nothing" on line 219;
  }
  inside "specifiedProcArgs" {
    tick "True" on line 202;
  }
  inside "findProc" {
    tick "Nothing" on line 184;
    tick "mempty" on line 184;
    tick "QualifiedIdentifier mempty \"record\"" on line 184;
    tick "False" on line 184;
  }
  inside "toMime" {
    tick "\"application/x-www-form-urlencoded\"" on line 53;
    tick "\"*/*\"" on line 55;
  }
  tick "pgvNum" on line 512;
  tick "pgvName" on line 513;
  tick "in_" on line 480;
  tick "insCols" on line 481;
  tick "insBody" on line 482;
  tick "onConflict" on line 483;
  tick "where_" on line 484;
  tick "returning" on line 485;
  tick "updCols" on line 489;
  tick "updBody" on line 490;
  tick "from" on line 467;
  tick "fromAlias" on line 469;
  tick "where_" on line 472;
  tick "joinConditions" on line 473;
  tick "order" on line 474;
  tick "range_" on line 475;
  tick "field" on line 461;
  tick "opExpr" on line 461;
  tick "jVal" on line 420;
  tick "junConstraint1" on line 324;
  tick "junCols1" on line 325;
  tick "junConstraint2" on line 326;
  tick "junCols2" on line 327;
  tick "colPosition" on line 244;
  tick "colUpdatable" on line 247;
  tick "colPrecision" on line 249;
  tick "fkCol" on line 237;
  tick "proxyScheme" on line 350;
  tick "proxyHost" on line 351;
  tick "proxyPort" on line 352;
  tick "proxyPath" on line 353;
  tick "pjaLength" on line 347;
  tick "pjKeys" on line 341;
  tick "pdVolatility" on line 159;
}

