.DS_Store
db
dist
.cabal-sandbox
cabal.sandbox.config
hscope.out
codex.tags
.anvil
.stack-work*
tags
site
*~
*#*
.#*
*.swp
result*
dist-newstyle
postgrest.hp
postgrest.prof
__pycache__
*.tix
coverage
.hpc
loadtest
.history
.docs-build
