name: Docs

on:
  push:
    branches:
    - main
    - v[0-9]+
  pull_request:
    branches:
    - main
    - v[0-9]+

jobs:
  build:
    name: Build docs
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
    - run: nix-env -f docs/default.nix -iA build
    - run: postgrest-docs-build

  spellcheck:
    name: Run spellcheck
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
    - run: nix-env -f docs/default.nix -iA spellcheck
    - run: postgrest-docs-spellcheck

  dictcheck:
    name: Run dictcheck
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
      - run: nix-env -f docs/default.nix -iA dictcheck
      - run: postgrest-docs-dictcheck

  linkcheck:
    name: Run linkcheck
    if: github.base_ref == 'main'
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
    - run: nix-env -f docs/default.nix -iA linkcheck
    - run: postgrest-docs-linkcheck
    
