name: Linkcheck

on:
  schedule:
    - cron: '1 2 * * 3'
  workflow_dispatch:

jobs:
  linkcheck:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Setup Nix Environment
      uses: ./.github/actions/setup-nix
      with:
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        tools: docs.linkcheck.bin
    - run: postgrest-docs-linkcheck
