name: Upload Reports

on:
  workflow_run:
    workflows:
      - CI
      - Test
    branches-ignore:
      - v[0-9]+
    types:
      - completed

jobs:
  loadtest:
    name: Loadtest
    permissions:
      checks: write
    runs-on: ubuntu-22.04
    if: github.event.workflow_run.conclusion == 'success' || github.event.workflow_run.conclusion == 'failure'
    steps:
      - name: Download from Artifacts
        uses: actions/download-artifact@9c19ed7fe5d278cd354c7dfd5d3b88589c7e2395 # v4.1.6
        with:
          github-token: ${{ github.token }}
          run-id: ${{ github.event.workflow_run.id }}
          name: loadtest.md
          path: artifacts
      - name: Upload to GitHub Checks
        uses: LouisBrunner/checks-action@6b626ffbad7cc56fd58627f774b9067e6118af23 # v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          sha: ${{ github.event.workflow_run.head_sha }}
          name: Loadtest Results
          conclusion: neutral
          output: |
            {"summary":""}
          output_text_description_file: artifacts/loadtest.md
